<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
  <meta name="author" content="https://www.Zerotheme.com">

  <title>Mobile Shop | Free Bootstrap Themes by Zerotheme.com</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/style.css">


  <!-- Custom Fonts -->
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"  type="text/css">
  <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">

  <!-- jQuery and Modernizr-->
  <script src="js/jquery-2.1.1.js"></script>

  <!-- Core JavaScript Files -->
  <script src="js/bootstrap.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<nav id="menu" class="navbar">
  <div class="container">
    <div class="navbar-header"><span id="heading" class="visible-xs">Categories</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/Lienhe">Liên hệ</a></li>
        <li><a href="/Dangnhap">Đăng nhập</a></li>
        <li><a href="/DangKy">Đăng Ký</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-lg-12">
    <div class="heading"><h2>SPECIAL PRODUCTS</h2></div>
    <div class="container">
      <div class="row"id="banhang-group">
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="banner">
    <div class="col-sm-6">
      <img src="images/sub-banner4.jpg" />
    </div>
    <div class="col-sm-6">
      <img src="images/sub-banner5.png" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="heading"><h2>FEATURED PRODUCTS</h2></div>
    <div class="products">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="product">
          <div class="image"><a href="product.html"><img src="images/iphone.png" /></a></div>
          <div class="buttons">
            <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
            <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
          </div>
          <div class="caption">
            <div class="name"><h3><a href="product.html">Aliquam erat volutpat</a></h3></div>
            <div class="price">$122<span>$98</span></div>
            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="product">
          <div class="image"><a href="product.html"><img src="images/galaxy-s4.jpg" /></a></div>
          <div class="buttons">
            <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
            <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
          </div>
          <div class="caption">
            <div class="name"><h3><a href="product.html">Aliquam erat volutpat</a></h3></div>
            <div class="price">$122<span>$98</span></div>
            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<% include ../views/user/sanpham/danhsach %>
</body>
</html>
