<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhà Sản Xuất</a>
    <div class="dropdown-menu">
        <div class="dropdown-inner">
            <ul class="list-unstyled">
                <li><a href="category.html">Nokia</a></li>
                <li><a href="category.html">Oppo</a></li>
                <li><a href="category.html">Samsung</a></li>
                <li><a href="category.html">IPhone</a></li>
                <li><a href="category.html">LG</a></li>
                <li><a href="category.html">Apple</a></li>
                <li><a href="category.html">Dell</a></li>
            </ul>
        </div>
    </div>
</li>
